@font-face {
    font-family: helvetica;
    src: url("../font/Helvetica-Bold.ttf");
}

@font-face {
    font-family: helvetica-light;
    src: url("../font/helvetica-light-587ebe5a59211.ttf");
}

@font-face {
    font-family: helvetica-normal;
    src: url("../font/Helvetica.ttf");
}

* {
    margin: 0px;
    padding: 0px;
    font-family: helvetica;
    box-sizing: border-box;
}

:root {
    --main: #000;
    --secondary: #ff3535;
}

/* nav-container */
.nav-container {
    display: flex;
    align-items: center;
    height: 8vh;
}

/* navbar: logo */
.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px;
    width: 10%;
    height: 8vh;
    /* border: 1px solid red; */
}

.logo img {
    width: 30%;
}

/* navbar: menu */
.menu {
    width: 80%;
}

.menu ul {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    height: 8vh;
    /* border: 1px solid red; */
}

.menu ul li {
    list-style: none;
}

.menu ul li a {
    margin: 0px 10px;
    text-decoration: none;
    color: var(--main);
}

/* navbar: cart */
.cart {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10%;
    height: 8vh;
    /* border: 1px solid red; */
}

.cart img {
    width: 25%;
    height: 75%;
}

/* landing section */
.bgground {
    display: flex;
    align-items: center;
}

/* bgground firsthalf */
.firsthalf {
    width: 50%;
    height: 100%;
}

.firsthalf img {
    width: 580px;
}

.secondhalf {
    display: flex;
    flex-direction: column;
}

.secondhalf a {
    text-decoration: none;
    color: var(--main);
}

.btn-primary {
    background-color: var(--secondary);
    border: 1px solid var(--secondary);
    border-radius: 5px;
    width: 60%;
    padding: 20px 40px;
    font-size: 1.3rem;
    align-self: center;
    cursor: pointer;
    margin-top: 12px;
}

.btn-primary:hover {
    background-color: transparent;
    border: 1px solid var(--secondary);
}

/* section: shop */
.shop {
    height: 1200px;
}

.shop-heading {
    display: flex;
    height: 12vh;
    justify-content: center;
    align-items: center;
    color: var(--main);
}

/* items showcase */
.showcase {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 340px;
    height: 550px;
    margin-top: 20px;
    border-radius: 5px;
}

.display {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 80%;
    border: 1px solid #141414;
    border-radius: 5px;
}

.display:hover {
    border: none;
    background-color: rgba(255, 53, 53, 0.2);
    cursor: pointer;
}

.display:hover .btn-shop {
    display: inline-block;

}

.display:hover p {
    display: none;
}

.btn-shop {
    display: none;
    cursor: pointer;
    background-color: var(--secondary);
    border: none;
    border-radius: 5px;
    padding: 10px 25px;
}

.tittle {
    display: flex;
    align-items: center;
    width: 90%;
    height: 12%;
    border-radius: 5px;
    color: #000;
}

.inner-tittle {
    width: 70%;
    padding-left: 8px;
}

.price {
    display: flex;
    justify-content: end;
    width: 30%;
    padding-right: 8px;
}

/* section-2 */
.section-2 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 500px;
}

.msg {
    width: 45%;
}

.form {
    width: 40%;
}

.form form {
    display: flex;
    flex-direction: column;
}

.form form input, textarea {
    border-radius: 5px 5px 0px 0px;
    border: 1px solid var(--secondary);
    padding: 15px 10px;
    outline: none;
}

.form form textarea {
    border-radius: 0px 0px 5px 5px;
}

.form form input::placeholder, textarea::placeholder {
    font-size: 0.9rem;
}

.form form input, div {
    margin: 10px 0px;
}

.form form div {
    display: flex;
    justify-content: space-evenly;
}

.form form div input {
    padding: 10px;
    width: 20%;
    cursor: pointer;
    text-align: center;
}

.form form div input::placeholder {
    font-size: 1rem;
}

.form form div input:focus {
    border: 2px solid var(--secondary);
}

.form form button {
    background-color: var(--secondary);
    border: 1px solid var(--secondary);
    border-radius: 5px;
    padding: 12px;
    cursor: pointer;
}

.form form button:hover {
    background-color: transparent;
    border: 1px solid var(--secondary);
}

/* section-3 */
.section-3 {
    /* border: 1px solid var(--secondary); */
    display: flex;
    height: 300px;
    justify-content: center;
    align-items: center;
    border-bottom: 50px solid var(--main);
}

.section-3 div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 70%;
    height: 150px;
    /* border: 1px solid black; */
}

.section-3 div p {
    text-align: center;
}

/* Section-4 */
.section-4 {
    height: 750px;
    width: 100%;
    /* background-color: grey; */
}

.youtubecont {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 0px;
    height: 24vh;
    /* background-color: burlywood; */
}

.recentvids {
    display: flex;
    width: 45%;
    /* border: 1px solid red; */
}

.visitchannel {
    display: flex;
    justify-content: flex-end;
    width: 45%;
    height: 10vh;   
    /* border: 1px solid saddlebrown; */
}

.visitchannel button {
    margin: 5px;
    font-size: 1.2rem;
    border: none;
    padding: 15px 25px;
    border-radius: 5px;
    background-color: var(--secondary);
    border: 1px solid var(--secondary);
    cursor: pointer;
}

.visitchannel button:hover {
    background-color: transparent;
}

/* section-4: vid-container */
.vid-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.thumbnail-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 410px;
    margin: 15px 15px;
    height: 350px;
}

.thumbnail {
    width: 95%;
    height: 91%;
    border-radius: 5px;
}

.thumbnail iframe {
    width: 100%;
    height: 100%;
    border: 0px;
    border-radius: 5px;
}

.thumbnail-tittle {
    width: 95%;
    /* background-color: #ff3535; */
}

/* footer */
.footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 250px;
    height: 30vh;
    width: 100%;
    color: white;
    background-color: var(--main);
}

.footer-container-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 45%;
    height: 25vh;
    /* border: 1px solid red; */
}

.enquiry {
    display: flex;
    width: 95%;
    /* border: 1px solid white; */
}

.enquiry p {
    padding: 8px;
    cursor: pointer;
}

.enquiry p:hover {
    color: grey;
}

.dull p {
    color: grey;
}

.footer-container-2 {
    display: flex;
    justify-content: flex-end;
    width: 45%;
    height: 15vh;
    /* border: 1px solid red; */
}

.footer-container-2 img {
    width: 25px;
    height: 25px;
    margin: 8px;
    cursor: pointer;
}

.footer-container-2 img:hover {
    filter: invert(0.4);
}

/* Utility Class */
.text-big {
    font-size: 5rem;
}

.text-medium {
    font-size: 2.5rem;
}

.text-small {
    font-size: 1.25rem;
}

.text-light-weight {
    font-family: helvetica-normal;
}

.text-outline {
    color: white;
    text-shadow: -2px -2px 0px var(--main),
    2px 2px 0px var(--main),
    2px 2px 0px var(--main),
    -2px -2px 0px var(--main);
}

.big {
    font-size: 3.5rem;
}

.small {
    font-size: 1rem;
}

.footer-text {
    font-size: 0.9rem;
}