@media only screen and (max-width: 950px) {
    body {
        background-color: chartreuse;
        width: 100;
    }

    /* landing section */
    .bgground {
        grid-row: 2 / span 12;
        flex-direction: column;
        align-items: center;
    }

    .firsthalf {
        width: 75%;
    }

    .firsthalf img {
        width: 350px;
    }

    /* items showcase */
    .showcase-1 {
        flex-direction: column;
        height: 100%;
    }
}